# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
ClientSide/TodoApp/node_modules
ServerSide/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
ClientSide/TodoApp/.vscode/settings.json
ClientSide/TodoApp/.vscode/tasks.json
ClientSide/TodoApp/.vscode/launch.json
ClientSide/TodoApp/.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/ClientSide/TodoApp/package-lock.json
/ClientSide/TodoApp/.vscode/extensions.json
/ClientSide/TodoApp/.vscode/extensions.json
/ClientSide/TodoApp/.vscode/launch.json
/ClientSide/TodoApp/.vscode/tasks.json
/ServerSide/package-lock.json
/ClientSide/TodoApp/.vscode
